// ===============
// colors palette
// ===============
:root {
  --text-white: #fff;
  --text-red: rgba(232, 74, 74, 1);
  --text-gray: rgb(178, 183, 186);
  --text-title-white: #fff;
  --text-black: rgb(0, 0, 3);
  --text-green: rgb(125, 255, 104);
  --bg-black: rgb(0, 0, 3);
  --bg-gray: rgba(51, 51, 51, 0.7);
  --bg-gray-opaciti01: rgba(51, 51, 51, 0.1);
  --bg--black-red: rgb(22,8,7);
  --bg-red: rgba(232, 74, 74, 1);
  --bg-red-opaciti01: rgba(232, 74, 74, 0.1);
  --bg-red-opaciti03: rgba(232, 74, 74, 0.3);
  --bg-red-opaciti07: rgba(232, 74, 74, 0.7);
  --decor-black: rgb(0, 0, 3);
  --border-red: rgba(232, 74, 74, 1);
  --border-gray: rgb(51, 51, 51);
  --border-gray-opaciti: rgba(51, 51, 51, 0.1);
  --icon-red: rgba(232, 74, 74, 1);
}
.whitemode{
  --text-white: rgb(0, 18, 34);
  --text-red: rgb(12,83,151);
  --text-gray: rgba(0, 18, 34, 0.7);
  --text-title-white: #fff;
  --text-black: #fff;
  --text-green: rgb(12,83,151);
  --bg-black: #fff;
  --bg-gray: rgba(51, 51, 51, 0.5);
  --bg-gray-opaciti01: rgba(51, 51, 51, 0.1);
  --bg--black-red: rgb(22,8,7);
  --bg-red: rgb(12,83,151);
  --bg-red-opaciti01: rgba(12,83,151, 0.1);
  --bg-red-opaciti03: rgba(12,83,151, 0.3);
  --bg-red-opaciti07: rgba(12,83,151, 0.7);
  --decor-black: #fff;
  --border-red: rgb(12,83,151);
  --border-gray: rgb(51, 51, 51, 0.5);
  --border-gray-opaciti: rgba(51, 51, 51, 0.1);
  --icon-red: rgb(12,83,151);
}
