.menu {
  @media (min-width:$tablet){
    position: absolute;
    bottom: toRem(-40);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
  }
  @media (max-width:$tablet){
    order: 3;
    display: flex;
    gap: toRem(7);
  }
  &__about-icon{
    border: toRem(1) solid var(--border-red);
    transition: all 0.3s;
    font-size: toRem(18);
    color: var(--text-red);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
    width: 100%;
    z-index: 5;
    position: relative;
    transition: all 0.3s;
    @media (max-width:$tablet){
      padding-block: toRem(15);
    }
    @media (min-width:$tablet){
      display: none; 
   }
    @media (max-width:$mobile){
      padding-block: toRem(7); 
    }
    &::before{
      content:'';
      position: absolute;
      top: toRem(-9);
      left: 50%;
      transform: translate(-50%, 0);
      width: toRem(9);
      height: toRem(9);
      background: var(--border-red);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transition: all 0.3s;
      opacity: 0;
    }
    &.active-info  {
      &::before{
        opacity: 1;
      }
		}
  }
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			padding: toRem(23) toRem(23) toRem(82) toRem(23);
			transition: left 0.3s;
			.menu-open & {
				left: 0;
			}
		}
    @media (max-width:$mobile){
      padding: toRem(8) toRem(8) toRem(51) toRem(8);
    }
	}
	// .menu__list
	&__list {
		@media (max-width: $tablet) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (max-width: $tablet) {
		}
	}
}

//Burger Icon
.icon-menu-close{
  width: toRem(24);
  aspect-ratio: 1 / 1;
  z-index: 5;
}

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		z-index: 5;
		background-color: var(--bg-red);
    color: var(--text-black);
    padding-block: toRem(15);
    width: 100%;
    font-size: toRem(18);
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
    font-weight: 700;
    &::before{
      content:'';
      position: absolute;
      top: toRem(-8);
      left: 50%;
      transform: translate(-50%, 0);
      width: toRem(9);
      height: toRem(9);
      background: var(--border-red);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transition: all 0.3s;
      opacity: 0;
    }
		.menu-open & {
      &::before{
        opacity: 1;
      }
		}
	}
  @media (max-width:$mobile){
    padding-block: toRem(7);
  }
}
