.menu {
  @media (min-width:$tablet){
    position: absolute;
    bottom: toRem(-43);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
  }
  @media (max-width:$tablet){
    order: 3;
  }
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			padding: toRem(23) toRem(23) toRem(80) toRem(23);
			transition: left 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
    @media (max-width:$mobile){
      padding: toRem(8) toRem(8) toRem(49) toRem(8);
    }
	}
	// .menu__list
	&__list {
		@media (max-width: $tablet) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (max-width: $tablet) {
		}
	}
}

//Burger Icon
.icon-menu-close{
  width: toRem(24);
  aspect-ratio: 1 / 1;
  z-index: 5;
}

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		z-index: 5;
		background-color: var(--primary-color);
    color: var(--black-text-color);
    padding-block: toRem(15);
    width: 100%;
    font-size: toRem(18);
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
    font-weight: 700;
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: toRem(9);
      height: toRem(9);
      background: var(--primary-color);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transition: all 0.3s;
    }
		.menu-open & {
      &::before{
        top: toRem(-8);
      }
		}
	}
  @media (max-width:$mobile){
    padding-block: toRem(7);
  }
}
