// Заголовки, загальні БЕМ блоки та інше...
.hexagon-decor {
  background: var(--bg-gray);
  color: var(--text-black);
  padding-inline: toRem(4);
  padding-block: toRem(4);
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  svg {
    position: absolute;
    top: -25%;
    right: toRem(-10);
    width: toRem(40);
    height: toRem(40);
    fill: var(--decor-black);
    transition: all 0.3s;
  }
  .active-tab & {
    background: var(--bg-red-opaciti07); /* Колір фону */
    color: var(--text-title-white);
    transition: all 0.3s;
  }
  &--red{
    background: var(--bg-red-opaciti07);
    transition: all 0.3s;
  }
}

.button {
  padding-inline: toRem(4);
  padding-block: toRem(4);
  border: toRem(1) solid var(--border-red);
  display: flex;
  justify-items: start;
  transition: all 0.3s;
  font-size: toRem(18);
  align-items: center;
  color: var(--text-red);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: toRem(1.35);
  width: 100%;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--bg-red);
      color: var(--text-black);
    }
  }
}

.decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: toRem(0);
  z-index: -1;
  svg {
    path {
      stroke: var(--border-red);
    }
  }
  // .decor-avatar-profile__01
  &__01 {
    position: absolute;
    top: toRem(-2);
    left: toRem(-2);
  }
  // .decor-avatar-profile__02
  &__02 {
    position: absolute;
    top: toRem(-2);
    right: toRem(-2);
    transform: rotate(90deg);
  }
  // .decor-avatar-profile__03
  &__03 {
    position: absolute;
    bottom: toRem(-2);
    right: toRem(-2);
    transform: rotate(180deg);
  }
  // .decor-avatar-profile__04
  &__04 {
    position: absolute;
    bottom: toRem(-2);
    left: toRem(-2);
    transform: rotate(-90deg);
  }
}
