//====================================================================================================
.page {
  display: grid;
  grid-template-columns: toRem(200) 1fr toRem(200);
  gap: toRem(16);
  padding-inline: toRem(80);
  padding-block: toRem(92);
  height: 100vh;
  position: relative;
  overflow: auto;

}
.profile {
  display: flex;
  flex-direction: column;
  gap: toRem(22);
}
.main {
  overflow: hidden;
  position: relative;
  margin: toRem(-2);
  padding: toRem(2);
  &__content {
    border: toRem(1) solid var(--border-color);
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//====================================================================================================
.profile {
  // .profile__avatar
  &__avatar {
    position: relative;
    border: toRem(1) solid var(--border-color);
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: toRem(164);
      aspect-ratio: 1 / 1;
    }
  }
  // .profile__description
  &__description {
    display: flex;
    flex-direction: column;
    gap: toRem(22);
    flex: 1 1 auto;
  }
  // .profile__motto
  &__motto {
    display: flex;
    flex-direction: column;
    gap: toRem(6);
  }
}

.description-profile {
  // .description-profile__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
  }
}
.item-description-profile {
  // .item-description-profile__lable
  &__lable {
    font-size: toRem(14);
    font-family: "Iceland";
    color: var(--white-text-color);
    letter-spacing: toRem(1);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  // .item-description-profile__characteristic
  &__characteristic {
    font-size: toRem(18);
    color: var(--primary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
    &--black {
      color: var(--black-text-color);
    }
  }
}
.motto-profile {
  font-family: "Iceland";
  // .motto-profile__lable
  &__lable {
    font-size: toRem(18);
    color: var(--primary-text-color);
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
  }
  // .motto-profile__text
  &__text {
    font-size: toRem(16);
    letter-spacing: toRem(1.2);
    text-transform: uppercase;
  }
}
//========================================================================================================================================================
.info {
  // .info__about
  &__about {
    border-left: toRem(2) solid var(--primary-color);
  }
  // .info__buttons
  &__settings {
    display: flex;
    flex-direction: column;
    gap: toRem(13);
  }
}
.about-info {
  // .about-info__title
  &__title {
    color: var(--white-text-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
    font-size: toRem(18);
    padding-inline-start: toRem(10);
  }
  // .about-info__sub-title
  &__sub-title {
    font-family: "Iceland";
    font-size: toRem(14);
    background: var(--primari-opaciti01-color);
    padding-block: toRem(8);
    padding-inline-start: toRem(10);
    text-transform: uppercase;
    margin-block-end: toRem(15);
  }
  // .about-info__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
    padding-inline-start: toRem(10);
    &:not(:last-child) {
      margin-block-end: toRem(23);
    }
  }
}

.item-about-info {
  // .item-about-info__lable
  &__lable {
    font-size: toRem(14);
    font-family: "Iceland";
    color: var(--white-text-color);
    letter-spacing: toRem(1);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  // .item-about-info__characteristic
  &__characteristic {
    font-size: toRem(18);
    color: var(--primary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: toRem(1.35);
  }
  // .item-about-info__text
  &__text {
    font-family: "Iceland";
    text-transform: uppercase;
  }
  // .item-about-info__wrap
  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, toRem(40));
    justify-content: space-between;
    row-gap: toRem(8);
    padding-block-start: toRem(4);
  }
  // .item-about-info__image
  &__image {
    width: toRem(40);
    aspect-ratio: 1 / 1;
    position: relative;
  }
}
.image-item-about-info {
  // .image-item-about-info__poligon
  &__poligon {
    width: 100%;
    svg{
      width: 100%;
      height: 100%;
      path{
        stroke: var(--primary-color);
      }
    }
  }
  // .image-item-about-info__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    width: toRem(20);
    height: toRem(20);
    transform: translate(-50%, -50%);
    object-fit: contain;
    svg{
      fill: var(--primary-color);
      path{
        fill: var(--primary-color);
      }
    }
  }
}

.settings-info {
  // .buttons-info__button
  &__button {
    display: flex;
    justify-content: space-between;
  }
  &__lable {
    font-size: toRem(14);
    font-family: "Iceland";
    color: var(--white-color);
    letter-spacing: toRem(1);
    text-transform: uppercase;
  }
}