//====================================================================================================
.page {
  height: 100svh;
  position: relative;
  padding-inline: toRem(80);
  padding-block: toRem(92);
  transition: all 0.3s;
  transform: rotateY(0deg);
  will-change: transform;
  @media (max-width: $tablet) {
    padding-inline: toRem(24);
    padding-block-start: toRem(92);
    padding-block-end: toRem(24);
  }
  @media (max-width: $mobile) {
    padding-inline: toRem(9);
    padding-block: toRem(9);
  }
  .rotate & {
    transform-origin: right center; /* Точка обертання - ліва сторона */
    transform: rotateY(-30deg); /* Нахил у середину */
    transition: transform 0.3s ease;
    will-change: transform;
    backface-visibility: hidden;
    filter: blur(toRem(1.1));
    pointer-events: none;
    user-select: none;
  }
  &__wrap {
    @media (min-width: $tablet) {
      min-height: 100%;
      display: grid;
      grid-template-columns: toRem(200) 1fr toRem(200);
      // grid-auto-rows: calc(100vh - toRem(92 * 2));
      gap: toRem(16);
    }
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: toRem(27);
    }
    @media (max-width: $mobile) {
      gap: toRem(15);
    }
    position: relative;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  gap: toRem(22);
  @media (max-width: $tablet) {
    order: 2;
    flex-direction: row;
  }
}
.main {
  overflow: hidden;
  position: relative;
  margin: toRem(-2);
  padding: toRem(2);
  @media (max-width: $tablet) {
    order: 1;
    flex: 1 1 auto;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: $tablet) {
    display: none;
  }
}

//====================================================================================================
.profile {
  // .profile__avatar
  &__avatar {
    position: relative;
    border: toRem(1) solid var(--border-gray);
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: toRem(164);
      aspect-ratio: 1 / 1;
      @media (max-width: $tablet) {
        width: toRem(110);
      }
    }
    @media (max-width: $tablet) {
      width: toRem(150);
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .profile__description
  &__description {
    flex: 1 1 auto;
    @media (max-width: $mobile) {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 100%;
      top: 0;
      transition: left 0.3s;
      padding: toRem(8) toRem(8) toRem(51) toRem(8);
      z-index: 5;
      &.active-info {
        left: 0;
      }
    }
  }
  &__wrap {
  }
  // .profile__motto
  &__motto {
    display: flex;
    flex-direction: column;
    gap: toRem(6);
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.description-profile {
  // .description-profile__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
  }
  &__wrap {
    @media (max-width: $mobile) {
      border: toRem(1) solid var(--border-gray);
      background: var(--bg-black);
      padding: toRem(0) toRem(21) toRem(21) toRem(21);
      height: 100%;
      width: 100%;
      transition: all 0.3s;
      overflow: hidden;
    }
  }
  &__header {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      display: flex;
      height: toRem(50);
      align-items: center;
      border-bottom: toRem(1) solid var(--border-gray);
      width: calc(100% + toRem(42));
      margin-inline-start: toRem(-21);
      padding-inline: toRem(21);
      justify-content: space-between;
      @media (min-width: $mobile) {
        display: none;
      }
      svg {
        path {
          fill: var(--text-white);
          transition: fill 0.3s;
        }
      }
    }
  }
  &__content{
    height: 100%;
    padding-block-start: toRem(21);
    padding-block-end: toRem(51);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(22);
    flex: 1 1 auto;
    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
    }
    @media (max-width: $mobile) {
      display: flex;
      overflow: auto;
      height: 100%;
    }
  }
  &__name-block {
    color: var(--text-white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: toRem(2);
    font-size: toRem(26);
    transition: color 0.3s;
  }
}
.item-description-profile {
  // .item-description-profile__lable
  &__lable {
    font-size: toRem(12);
    color: var(--text-white);
    text-transform: uppercase;
    transition: color 0.3s;
  }
  // .item-description-profile__characteristic
  &__characteristic {
    font-size: toRem(18);
    color: var(--text-red);
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s;
    &--black {
      color: var(--text-black);
      transition: color 0.3s;
    }
  }
}
.motto-profile {
  // .motto-profile__lable
  &__lable {
    font-size: toRem(12);
    color: var(--text-red);
    text-transform: uppercase;
    transition: color 0.3s;
  }
  // .motto-profile__text
  &__text {
    font-size: toRem(14);
    text-transform: uppercase;
    color: var(--text-gray);
    transition: color 0.3s;
  }
}
//========================================================================================================================================================
.main {
  // .main__content
  &__content {
    border: toRem(1) solid var(--border-gray);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__section {
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    &.active-tab {
      display: block;
    }
  }
  &__hi {
    font-size: toRem(60);
    font-weight: 700;
    color: var(--text-red);
    text-align: center;
    transition: color 0.3s;
  }
}

//========================================================================================================================================================
.info {
  // .info__about
  &__about {
    border-left: toRem(2) solid var(--border-red);
    transition: all 0.3s;
  }
  // .info__buttons
  &__settings {
    display: flex;
    flex-direction: column;
    gap: toRem(13);
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
.about-info {
  // .about-info__title
  &__title {
    color: var(--text-title-white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: toRem(18);
    padding-inline-start: toRem(10);
    transition: color 0.3s;
  }
  // .about-info__sub-title
  &__sub-title {
    font-size: toRem(12);
    background: var(--bg-red-opaciti01);
    padding-block: toRem(8);
    padding-inline-start: toRem(10);
    text-transform: uppercase;
    margin-block-end: toRem(15);
    color: var(--text-gray);
    transition: color 0.3s;
  }
  // .about-info__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
    padding-inline-start: toRem(10);
    &:not(:last-child) {
      margin-block-end: toRem(23);
    }
  }
}

.item-about-info {
  // .item-about-info__lable
  &__lable {
    font-size: toRem(12);
    color: var(--text-white);
    letter-spacing: toRem(1);
    text-transform: uppercase;
    transition: color 0.3s;
  }
  // .item-about-info__characteristic
  &__characteristic {
    font-size: toRem(18);
    color: var(--text-red);
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  // .item-about-info__text
  &__text {
    text-transform: uppercase;
    color: var(--text-gray);
    transition: color 0.3s;
    font-size: toRem(14);
  }
  // .item-about-info__wrap
  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, toRem(40));
    justify-content: space-between;
    row-gap: toRem(8);
    padding-block-start: toRem(4);
  }
  // .item-about-info__image
  &__image {
    width: toRem(40);
    aspect-ratio: 1 / 1;
    position: relative;
  }
}
.image-item-about-info {
  // .image-item-about-info__poligon
  &__poligon {
    width: 100%;
    svg {
      width: 100%;
      height: 100%;
      path {
        stroke: var(--icon-red);
        transition: all 0.3s;
      }
    }
  }
  // .image-item-about-info__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    width: toRem(20);
    height: toRem(20);
    transform: translate(-50%, -50%);
    object-fit: contain;
    svg {
      fill: var(--icon-red);
      transition: all 0.3s;
      path {
        fill: var(--icon-red);
        transition: all 0.3s;
      }
    }
  }
}

.settings-info {
  // .buttons-info__button
  &__button {
    display: flex;
    justify-content: space-between;
  }
  &__lable {
    font-size: toRem(12);
    color: var(--text-white);
    letter-spacing: toRem(1);
    text-transform: uppercase;
    transition: color 0.3s;
  }
}
//========================================================================================================================================================
.navigation {
  display: flex;
  align-items: center;
  gap: toRem(15);
  align-items: stretch;
  &__header {
    display: flex;
    height: toRem(50);
    align-items: center;
    border-bottom: toRem(1) solid var(--border-gray);
    width: calc(100% + toRem(42));
    padding-inline: toRem(21);
    justify-content: space-between;
    @media (min-width: $mobile) {
      display: none;
    }
    svg {
      path {
        fill: var(--text-white);
        transition: fill 0.3s;
      }
    }
  }

  &__name-block {
    color: var(--text-white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: toRem(26);
    transition: color 0.3s;
    padding-block: toRem(12);
  }
  @media (max-width: $tablet) {
    background-color: var(--bg-black);
    padding: toRem(0) toRem(21) toRem(21) toRem(21);
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: toRem(1) solid var(--border-gray);
    transition: all 0.3s;
  }
  &__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(15);
    overflow: auto;
  }
  &__list {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: toRem(15);
    align-items: stretch;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .navigation__button
  &__button {
    display: flex;
    flex-direction: column;
    border-left: toRem(2) solid var(--border-gray);
    width: toRem(200);
    transition: all 0.3s;
    &.active-tab {
      border-left: toRem(2) solid var(--border-red);
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
    @media (any-hover: hover) {
      &:hover {
        border-left: toRem(2) solid var(--border-red);
        transition: all 0.3s;
        .hexagon-decor {
          background: var(--bg-red-opaciti07);
          transition: all 0.3s;
        }
      }
    }
  }
  // .navigation__title
  &__title {
    width: 100%;
    display: flex;
    color: var(--text-title-white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: toRem(18);
    padding-inline-start: toRem(8);
    transition: all 0.3s;
  }
  // .navigation__sub-title
  &__sub-title {
    padding-inline: toRem(8);
    padding-block: toRem(8);
    font-size: toRem(12);
    background-color: var(--bg-gray-opaciti01);
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    text-align: left;
    color: var(--text-gray);
  }
}
//========================================================================================================================================================
.social {
  position: absolute;
  top: 50%;
  left: -150%;
  transform: translate(0, -50%);
  transition: left 0.4s;
  @media (max-width: $mobile) {
    width: 100%;
    height: 100%;
    padding: toRem(8);
    backdrop-filter: blur(toRem(6.5));
  }
  .rotate & {
    left: toRem(80);
    @media (max-width: $mobile) {
      left: 0;
    }
  }
  &__content {
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: toRem(8);
      border: toRem(1) solid var(--border-gray);
      background-color: var(--bg-black);
    }
  }
  // .social__title
  &__title {
    color: var(--text-title);
    font-size: toRem(18);
    font-weight: 700;
    letter-spacing: toRem(1.35);
    text-transform: uppercase;
    margin-block-end: toRem(8);
    transition: color 0.3s;
  }
  // .social__sub-ttile
  &__sub-ttile {
    font-size: toRem(12);
    text-transform: uppercase;
    margin-block-end: toRem(15);
    color: var(--text-gray);
    transition: color 0.3s;
  }
  // .social__wrap
  &__wrap {
    background-color: var(--bg--black-red);
    border: toRem(1) solid var(--border-gray);
    backdrop-filter: blur(toRem(6.5));
    padding-inline: toRem(27);
    padding-block: toRem(27);
    max-width: toRem(430);
    font-size: toRem(0);
    display: grid;
    grid-template-columns: repeat(4, toRem(80));
    grid-auto-rows: toRem(90);
    gap: toRem(15);
    justify-content: space-between;
    margin-block-end: toRem(15);
    transition: all 0.3s;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(3, toRem(80));
      grid-auto-rows: toRem(100);
      flex: 1 1 auto;
      max-width: 100%;
    }
  }
  // .social__image
  &__image {
    position: relative;
    width: toRem(80);
    aspect-ratio: 1 / 1;
    @media (any-hover: hover) {
      &:hover {
        .image-social__poligon {
          svg {
            path {
              fill: var(--icon-red);
            }
          }
        }
        .image-social__icon {
          svg {
            fill: var(--bg--black-red);
            path {
              fill: var(--bg--black-red);
            }
          }
        }
      }
    }
  }
  // .social__button
  &__button {
    justify-content: center;
    @media (max-width: $mobile) {
      background-color: var(--bg-red);
      color: var(--text-black);
    }
  }
}
.image-social {
  // .image-social__poligon
  &__poligon {
    svg {
      width: 100%;
      height: 100%;
      path {
        stroke: var(--icon-red);
        fill: transparent;
        transition: all 0.3s;
      }
    }
  }
  // .image-social__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    width: toRem(40);
    height: toRem(40);
    transform: translate(-50%, -50%);
    object-fit: contain;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--icon-red);
      transition: all 0.3s;
      path {
        fill: var(--icon-red);
        transition: all 0.3s;
      }
    }
  }
}
